In [ ]:
Q1.Write a python program to display all the header tags from wikipedia.org and make data frame.

In [2]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\user\anaconda3\lib\site-packages (0.0.1)

WARNING: Ignoring invalid distribution -ffi (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\user\anaconda3\lib\site-packages)

Requirement already satisfied: beautifulsoup4 in c:\users\user\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (2.27.1)

WARNING: Ignoring invalid distribution -ffi (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\user\anaconda3\lib\site-packages)

Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests) (1.26.9)

In [2]:
import pandas as pd
import requests 
from bs4 import BeautifulSoup

In [4]:
page= requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup= BeautifulSoup(page.content)

In [5]:
header_tags=['h1','h2','h3','h4','h5','h6','h7']
for i in soup.find_all(header_tags):    
    print(i.name + ' : ' + i.text.strip())

h1 : Main Page
h1 : Welcome to Wikipedia
h2 : From today's featured article
h2 : Did you know ...
h2 : In the news
h2 : On this day
h2 : Today's featured picture
h2 : Other areas of Wikipedia
h2 : Wikipedia's sister projects
h2 : Wikipedia languages

In [ ]:
#2.Write a python program to display IMDB’s Top rated 100 movies’ data(i.e.Name, IMDB rating, Year of release)and save it in form of a CSV file.

In [4]:
iMDb = requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc")
iMDb1 = requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt")
iMDb1, iMDb

(<Response [200]>, <Response [200]>)

In [5]:
soup1 = BeautifulSoup(iMDb.content,'html.parser')
soup2 = BeautifulSoup(iMDb1.content,'html.parser')

In [6]:
Movie1 = soup1.find_all(['h3'], class_ = "lister-item-header")
Movie_name = []

for i in Movie1:
    Movie_name.append(i.text.replace("\n",""))
Movie2 = soup2.find_all(['h3'], class_ = "lister-item-header")
for i in Movie2:
    Movie_name.append(i.text.replace("\n",""))
    
Movie_name = [i.split('.')[1] for i in Movie_name]
Movie_name = [i.split('(')[0] for i in Movie_name]

In [7]:
Rate1 = soup1.find_all(['div'], class_ = "inline-block ratings-imdb-rating")
Rate2 = soup2.find_all(['div'], class_ = "inline-block ratings-imdb-rating")
ratings = []

for i in Rate1:
    ratings.append(i.get_text().replace('\n',''))
for i in Rate2:
    ratings.append(i.get_text().replace('\n',''))    
    
len(ratings)

100

In [8]:
y1 = soup1.find_all(['span'], class_ = "lister-item-year text-muted unbold")
y2 = soup2.find_all(['span'], class_ = "lister-item-year text-muted unbold")

year = []

for i in y1:
    year.append(i.text.replace("\n",""))
for i in y2:
    year.append(i.text.replace("\n",""))
    
year = [i.split('(')[-1] for i in year] 
year = [i.split(')')[0] for i in year]

In [9]:
top_100_movies= {"Name":Movie_name, "IMDB_rating": ratings, "Year":year }
import pandas as pd
IMDB_top_100_movies = pd.DataFrame(top_100_movies)

In [10]:
IMDB_top_100_movies

                                 Name IMDB_rating  Year
0            The Shawshank Redemption         9.3  1994
1                       The Godfather         9.2  1972
2                     The Dark Knight         9.0  2008
3                    Schindler's List         9.0  1993
4                        12 Angry Men         9.0  1957
..                                ...         ...   ...
95                 North by Northwest         8.3  1959
96                Singin' in the Rain         8.3  1952
97  M - Eine Stadt sucht einen Mörder         8.3  1931
98                      The Apartment         8.3  1960
99                              Ikiru         8.3  1952

[100 rows x 3 columns]

In [ ]:
#3.Write a python program to display IMDB’s Top rated 50 Indian movies’ data (i.e. name, rating, year of 
release) and make data frame.

In [11]:
indian_movies = requests.get("https://www.imdb.com/list/ls056092300/")
indian_movies

In [12]:
sp = BeautifulSoup(indian_movies.content,'html.parser')

In [13]:
ind_movie = sp.find_all(['h3'], class_ = "lister-item-header")
ind_movie_fullname = []

for i in ind_movie:
    ind_movie_fullname.append(i.text.replace("\n",""))
  
ind_movie_fullname = [i.split('.',1)[1] for i in ind_movie_fullname]
ind_movie_name = [i.split('(')[0] for i in ind_movie_fullname]
Year = [i.split('(')[-1] for i in ind_movie_fullname]
Year = [i.split(')')[0] for i in Year]

In [14]:
rate = sp.find_all(['div'], class_ = "ipl-rating-star small")
ratings = []

for i in rate:
    ratings.append(i.get_text().replace('\n',''))

In [15]:
Top_rated_100_Indianmovies=pd.DataFrame({"Name":ind_movie_name, "IMDB_rating": ratings, "Year":Year })
Top_rated_100_Indianmovies

                                 Name IMDB_rating  Year
0                     Ship of Theseus           8  2012
1                              Iruvar         8.4  1997
2                     Kaagaz Ke Phool         7.8  1959
3   Lagaan: Once Upon a Time in India         8.1  2001
4                     Pather Panchali         8.2  1955
..                                ...         ...   ...
95                        Apur Sansar         8.5  1959
96                        Kanchivaram         8.1  2008
97                    Monsoon Wedding         7.3  2001
98                              Black         8.1  2005
99                            Deewaar           8  1975

[100 rows x 3 columns]

In [16]:
Top_rated_100_Indianmovies.to_csv("Top_rated_100_Indianmovies")

In [ ]:
#4.Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) 
from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [4]:
page3= requests.get('https://presidentofindia.nic.in/former-presidents.htm')
soup3= BeautifulSoup(page3.content)

President_name=[]
for i in soup3.find_all('div', class_="presidentListing"):
    cells = i.find_all('h3')
    President_name.append(cells[0].text.strip())

Term=[]
for i in soup3.find_all('div', class_="presidentListing"):
    cells = i.find_all('p')
    Term.append(cells[0].text.strip().replace('Term of Office:',''))

print('-'*68)
print('\t\t\t Former Presidents List')
print('-'*68)

df_president=pd.DataFrame({'Name of President (life span)':President_name,'Term of Office':Term})
df_president

--------------------------------------------------------------------
			 Former Presidents List
--------------------------------------------------------------------

,Name of President (life span),Term of Office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

In [ ]:
#5Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data framea) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team andrating.
c) Top 10 ODI bowlers along with the records of their team andrating

In [3]:
page4= requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup4= BeautifulSoup(page4.content)

Team=[]
Matches=[]
Points=[]
Rating=[]
Ranking=[]
for i in soup4.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Ranking.append(cells[0].text.strip())
        Team.append(cells[1].text.strip().replace('\n'," , "))
        Matches.append(cells[2].text.strip())
        Points.append(cells[3].text.strip())
        Rating.append(cells[4].text.strip())
        
print('-'*50)
print("\t Top 10 ODI Teams in Men's Cricket")
print('-'*50)

df_team = pd.DataFrame({'Ranking':Ranking,'Team':Team,'Matches':Matches,'Points':Points,'Rating':Rating})  
df_team

--------------------------------------------------
	 Top 10 ODI Teams in Men's Cricket
--------------------------------------------------

  Ranking               Team Matches Points Rating
0       1    Australia , AUS      23  2,714    118
1       2     Pakistan , PAK      20  2,316    116
2       3        India , IND      33  3,807    115
3       4   New Zealand , NZ      27  2,806    104
4       5      England , ENG      24  2,426    101
5       6  South Africa , SA      19  1,910    101
6       7   Bangladesh , BAN      25  2,451     98
7       8  Afghanistan , AFG      10    878     88
8       9     Sri Lanka , SL      21  1,682     80
9      10   West Indies , WI      25  1,797     72

In [ ]:
b) Top 10 ODI Batsmen along with the records of their team and rating.

In [4]:
page4_b= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup4_b= BeautifulSoup(page4_b.content)

Player=[]
Team=[]
Rating=[]

for i in soup4_b.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())
        
print('-'*40)
print(" Top 10 ODI Batsmen in Men's Cricket")
print('-'*40)

df_batting= pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})  
df_batting

----------------------------------------
 Top 10 ODI Batsmen in Men's Cricket
----------------------------------------

                  Player Team Rating
0             Babar Azam  PAK    886
1  Rassie van der Dussen   SA    777
2           Fakhar Zaman  PAK    755
3            Imam-ul-Haq  PAK    745
4           Shubman Gill  IND    738
5           David Warner  AUS    726
6           Harry Tector  IRE    722
7            Virat Kohli  IND    719
8        Quinton de Kock   SA    718
9           Rohit Sharma  IND    707

In [ ]:
c) Top 10 ODI bowlers along with the records of their team andrating

In [5]:
page4_c= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
print(page4,'\n')
soup4_c= BeautifulSoup(page4_c.content)

Player=[]
Team=[]
Rating=[]

for i in soup4_c.find_all ('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())

print('-'*40)
print("  Top 10 ODI Bowlers in Men's Cricket")
print('-'*40)

df_bowling=pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})
df_bowling

<Response [200]>

----------------------------------------
  Top 10 ODI Bowlers in Men's Cricket
----------------------------------------

             Player Team Rating
0    Josh Hazlewood  AUS    705
1    Mohammed Siraj  IND    691
2    Mitchell Starc  AUS    686
3        Matt Henry   NZ    667
4       Trent Boult   NZ    660
5       Rashid Khan  AFG    659
6        Adam Zampa  AUS    652
7  Mujeeb Ur Rahman  AFG    637
8     Mohammad Nabi  AFG    631
9    Shaheen Afridi  PAK    630

In [ ]:
#6.Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data framea) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating

In [6]:
page5= requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup5= BeautifulSoup(page5.content)

Team=[]
Matches=[]
Points=[]
Rating=[]
Ranking=[]
for i in soup5.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Ranking.append(cells[0].text.strip())
        Team.append(cells[1].text.strip().replace('\n'," , "))
        Matches.append(cells[2].text.strip())
        Points.append(cells[3].text.strip())
        Rating.append(cells[4].text.strip())

print('-'*45)
print("     Top 10 ODI Teams in Women's Cricket")
print('-'*45)

df_team1 = pd.DataFrame({' Ranking':Ranking,'Team':Team,'Matches':Matches,'Points':Points,'Rating':Rating})  
df_team1

---------------------------------------------
     Top 10 ODI Teams in Women's Cricket
---------------------------------------------

   Ranking               Team Matches Points Rating
0        1    Australia , AUS      21  3,603    172
1        2      England , ENG      28  3,342    119
2        3  South Africa , SA      26  3,098    119
3        4        India , IND      27  2,820    104
4        5   New Zealand , NZ      25  2,553    102
5        6   West Indies , WI      27  2,535     94
6        7     Thailand , THA      11    821     75
7        8   Bangladesh , BAN      14    977     70
8        9     Pakistan , PAK      27  1,678     62
9       10     Sri Lanka , SL       9    479     53

In [ ]:
b) Top 10 women’s ODI Batting players along with the records of their team and rating

In [7]:
page5_b= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
soup5_b= BeautifulSoup(page5_b.content)

Player=[]
Team=[]
Rating=[]

for i in soup5_b.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())
        
print('-'*50)
print("  Top 10 ODI Batting Players in Women's Cricket")
print('-'*50)

df_batting1= pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})  
df_batting1

--------------------------------------------------
  Top 10 ODI Batting Players in Women's Cricket
--------------------------------------------------

                Player Team Rating
0          Beth Mooney  AUS    754
1      Laura Wolvaardt   SA    732
2       Natalie Sciver  ENG    731
3          Meg Lanning  AUS    717
4     Harmanpreet Kaur  IND    716
5      Smriti Mandhana  IND    714
6  Chamari Athapaththu   SL    673
7         Ellyse Perry  AUS    626
8       Tammy Beaumont  ENG    595
9      Stafanie Taylor   WI    588

In [ ]:
c) Top 10 women’s ODI all-rounder along with the records of their team and rating

In [8]:
page5_c= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
soup5_c= BeautifulSoup(page5_c.content)

Player=[]
Team=[]
Rating=[]

for i in soup5_c.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())
        
print('-'*50)
print("Top 10 women’s ODI all-rounder in Women's Cricket")
print('-'*50)


df_All_Rounder= pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})  
df_All_Rounder

--------------------------------------------------
Top 10 women’s ODI all-rounder in Women's Cricket
--------------------------------------------------

              Player Team Rating
0    Hayley Matthews   WI    373
1     Natalie Sciver  ENG    371
2       Ellyse Perry  AUS    366
3     Marizanne Kapp   SA    349
4        Amelia Kerr   NZ    336
5      Deepti Sharma  IND    322
6   Ashleigh Gardner  AUS    292
7      Jess Jonassen  AUS    250
8           Nida Dar  PAK    232
9  Sophie Ecclestone  ENG    205

In [ ]:
#7. Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and 
make data framei) Headline
ii) Time
iii) News Link

In [9]:
page7= requests.get('https://www.cnbc.com/world/?region=world')
soup7= BeautifulSoup(page7.content)

headline=[]
for i in soup7.find_all('a', class_="LatestNews-headline"):
    headline.append(i.get('title'))

time=[]
for i in soup7.find_all('span', class_="LatestNews-wrapper"):
    time.append(i.text)

News_Link = []
for i in soup7.findAll('a',class_="LatestNews-headline"):
    News_Link.append(i.get('href'))

print('-'*90)
print('\t\t\t\t\t News Details')
print('-'*90)

News=pd.DataFrame({'Headline': headline, 'Time': time,'News Link': News_Link})
News

------------------------------------------------------------------------------------------
					 News Details
------------------------------------------------------------------------------------------

,Headline,Time,News Link
0,"CNBC Daily Open: After the debt ceiling, infla...",23 Min Ago,https://www.cnbc.com/2023/05/29/stock-markets-...
1,Europe markets head for higher open after U.S....,44 Min Ago,https://www.cnbc.com/2023/05/29/european-marke...
2,Chinese consumers won't return to pre-Covid sp...,2 Hours Ago,https://www.cnbc.com/2023/05/29/morgan-stanley...
3,The biggest money mistakes that could change y...,3 Hours Ago,https://www.cnbc.com/2023/05/29/the-money-mist...
4,Turkey's lira sinks to near record low as Erdo...,3 Hours Ago,https://www.cnbc.com/2023/05/29/turkeys-lira-s...
5,Major central banks were expected to pause rat...,4 Hours Ago,https://www.cnbc.com/2023/05/29/major-central-...
6,"CNBC Daily Open: First the debt ceiling, then ...",6 Hours Ago,https://www.cnbc.com/2023/05/29/stock-markets-...
7,TSMC or Samsung? One chipmaker is the better p...,7 Hours Ago,https://www.cnbc.com/2023/05/29/tsmc-or-samsun...
8,How much of A.I. is just hype? A bull and a be...,7 Hours Ago,https://www.cnbc.com/2023/05/29/is-ai-here-to-...
9,Asia markets mixed after U.S. reaches debt cei...,7 Hours Ago,https://www.cnbc.com/2023/05/29/asia-markets.html
10,Turkey's President Erdogan seals election vict...,13 Hours Ago,https://www.cnbc.com/2023/05/28/turkeys-presid...
11,Debt ceiling deal will be 'transformational' f...,15 Hours Ago,https://www.cnbc.com/2023/05/28/debt-ceiling-d...
12,"NYC, Las Vegas, D.C.: Free wellness activities...",17 Hours Ago,https://www.cnbc.com/2023/05/28/nyc-las-vegas-...
13,Content creators bring in up to $150/hour film...,17 Hours Ago,https://www.cnbc.com/2023/05/28/content-creato...
14,34-year-old makes up to $167 an hour nannying ...,18 Hours Ago,https://www.cnbc.com/2023/05/28/gloria-richard...
15,This winning fund puts a spin on emerging mark...,18 Hours Ago,https://www.cnbc.com/2023/05/28/this-winning-f...
16,ASCO will put the focus on the cancer fight. T...,19 Hours Ago,https://www.cnbc.com/2023/05/28/asco-will-focu...
17,Now Boarding: Why airlines are turning to bigg...,19 Hours Ago,https://www.cnbc.com/2023/05/28/now-boarding-a...
18,"Global demand for streaming Asian movies, TV g...",19 Hours Ago,https://www.cnbc.com/2023/05/28/squid-game-eea...
19,These are the cheapest tech stocks in the S&P 500,19 Hours Ago,https://www.cnbc.com/2023/05/28/these-are-the-...
20,Turkey votes in runoff election after candidat...,"May 27, 2023",https://www.cnbc.com/2023/05/28/turkey-electio...
21,White House and Republicans reach a tentative ...,"May 27, 2023",https://www.cnbc.com/2023/05/27/white-house-an...
22,State Farm to stop accepting homeowners insura...,"May 27, 2023",https://www.cnbc.com/2023/05/27/state-farm-to-...
23,How Janie Deegan built Janie's Life-Changing B...,"May 27, 2023",https://www.cnbc.com/2023/05/27/how-janie-deeg...
24,Top 10 cheapest places in the U.S. to buy a be...,"May 27, 2023",https://www.cnbc.com/2023/05/27/cheapest-place...
25,Mark Cuban calls Elon Musk’s Twitter algorithm...,"May 27, 2023",https://www.cnbc.com/2023/05/27/mark-cuban-say...
26,3 investing tips as the federal debt ceiling '...,"May 27, 2023",https://www.cnbc.com/2023/05/27/how-to-invest-...
27,Microsoft keyboard users are ‘devastated’ afte...,"May 27, 2023",https://www.cnbc.com/2023/05/27/microsoft-keyb...
28,Steve Adcock: The 3 'stupidest' myths I've hea...,"May 27, 2023",https://www.cnbc.com/2023/05/27/steve-adcock-t...
29,Chip stocks AMD and Nvidia are among the most ...,"May 27, 2023",https://www.cnbc.com/2023/05/27/chip-stocks-am...

In [ ]:
#8.Write a python program to scrape the details of most downloaded articles from AI in last 90
days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details and make data framei) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [14]:
page8= requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup8= BeautifulSoup(page8.content)

Paper_Title=[]
for i in soup8.find_all('h2', class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    Paper_Title.append(i.text)

Authors=[]
for i in soup8.find_all('span', class_="sc-1w3fpd7-0 pgLAT"):
    Authors.append(i.text)  

Published_Date=[]
for i in soup8.find_all('span', class_="sc-1thf9ly-2 bKddwo"):
    Published_Date.append(i.text)  

Paper_URL=[]
for i in soup8.find_all('a', class_="sc-5smygv-0 nrDZj"):
    Paper_URL.append(i.get('href'))

print('-'*127)
print('\t\t\t\t\t\t Most Downloaded Articles')
print('-'*127)

Articles=pd.DataFrame({'Paper Title': Paper_Title,'Authors': Authors,'Published Date': Published_Date, 'Paper URL':Paper_URL})
Articles

-------------------------------------------------------------------------------------------------------------------------------
						 Most Downloaded Articles
-------------------------------------------------------------------------------------------------------------------------------

Empty DataFrame
Columns: [Paper Title, Authors, Published Date, Paper URL]
Index: []

In [ ]:
#9.Write a python program to scrape mentioned details from dineout.co.in and make data framei) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [12]:
page9= requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup9= BeautifulSoup(page9.content)

restaurant_name= []
for i in soup9.find_all('a', class_="restnt-name ellipsis"):
    restaurant_name.append(i.text)

Cuisine=[]
for i in soup9.find_all('div', class_="detail-info"):
    Cuisine.append((i.text.split()[6])+(' ')+(i.text.split()[7]))

location=[]
for i in soup9.find_all('div', class_="restnt-loc ellipsis"):
    location.append(i.text)

Ratings= []
for i in soup9.find_all('div', class_="restnt-rating rating-4"):
    Ratings.append(i.text)

Image_URL= []
for i in soup9.find_all('img', class_="no-img"):
    Image_URL.append(i['data-src'])

print('-'*125)
print('\t\t\t\t\t\t Restaurant Details')
print('-'*125)

dineout=pd.DataFrame({'Restaurant_Name':restaurant_name,'Cuisine':Cuisine,'Location':location,'Ratings':Ratings,'Image_URL':Image_URL})
dineout

-----------------------------------------------------------------------------------------------------------------------------
						 Restaurant Details
-----------------------------------------------------------------------------------------------------------------------------

,Restaurant_Name,Cuisine,Location,Ratings,Image_URL
0,Castle Barbeque,"Chinese, North","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian,","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle's Barbeque,"Chinese, North","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian,","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian,","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian,","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...